{% extends 'base.html.twig' %}

{% block title %}Edit Reserva{% endblock %}

{% block body %}
    <h1>Actualizar Reserva</h1>

    {{ include('reserva/_form.html.twig', {'button_label': 'Aceptar'}) }}


{% endblock %}
